doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    style.
      body {
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
      }

      .container {
          max-width: 360px;
          margin: 20px auto;
          padding: 20px;
          background-color: #ffffff;
          border: 1px solid #eee;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(20, 50, 70, 0.2);
      }

      .logo {
          display: block;
          margin: 0 auto;
      }

      .header {
          font-size: 14px;
          color: #0a85ea;
          text-align: center;
          margin: 8px 0;
      }

      .title {
          font-size: 18px;
          color: #000;
          text-align: center;
          margin: 16px 0;
      }

      .code-container {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          margin: 14px 0;
          text-align: center;
      }

      .code {
          font-size: 24px;
          color: #000;
          font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
          font-weight: 700;
          letter-spacing: 4px;
          padding: 8px 0;
      }

      .message {
          font-size: 14px;
          color: #444;
          text-align: center;
          margin: 0;
      }

      .contact {
          color: #444;
          text-decoration: underline;
      }

      .footer {
          font-size: 10px;
          color: #000;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          margin-top: 20px;
      }
  body
    div.container
      img.logo(alt='Plaid' src='https://react-email-demo-ijnnx5hul-resend.vercel.app/static/plaid-logo.png' width='212' height='88')
      p.header Verify Your Identity
      h1.title Enter the following code to finish linking Venmo.
      div.code-container
        p.code 144833
      p.message Not expecting this email?
      p.message
        | Contact 
        a.contact(target='_blank' href='mailto:login@plaid.com') login@plaid.com
        |  if you did not request this code.
      p.footer Securely powered by Plaid.
